@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";

@theme {
  --font-righteous: 'Righteous', cursive;
  --font-sans: 'Righteous', cursive, ui-sans-serif, system-ui;
  --font-helvetica: 'Helvetica';
  --font-lato: 'Lato', sans-serif;

  --color-primary: #385484;
  --color-secondary: #DDB742;
  --color-tertiary: #698EA4;
  --color-dark: #16243B;
  --color-accent: #35BCFF;
  --color-grey-accent:#D9D9D9;

  --color-todo-cyan:#5CE3B1;
  --color-todo-dark-blue:#16243B;
  --color-todo-yellow:#DDB742;
  --color-todo-black:#385484;
  --color-todo-sage:#00FFFF;
}
